HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Compiled class file
*.class
.idea/

# Log file
*.log.*.gz
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar